# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# PDB files
*.pdb

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Other
*.pfx
*.key
*.pdb